* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
}

.header__btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header__btn {
  width: 264px;
  height: 55.45px;
  margin: 21px 0 26px;
  font-size: 21.9755px;
  line-height: 33px;
  border: 1.37347px solid #5cfc3c;
  color: #5cfc3c;
  background-color: #000;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
}

.header__nav {
  width: 100%;
  height: 49px;
  border-top: 1px solid #5cfc3c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 23.9612px;
  line-height: 29px;
  color: #5cfc3c;
  font-family: "Mandinor";
  font-style: normal;
  font-weight: normal;
}

.header__menu {
  width: 533px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-size: 9.65px;
  line-height: 14px;
  color: #5cfc3c;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Krona One";
  font-style: normal;
  font-weight: normal;
}

.header__title {
  width: 100%;
  font-family: "Mandinor";
  font-style: normal;
  font-weight: normal;
  font-size: 138.905px;
  line-height: 167px;
  color: #5cfc3c;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__img {
  margin: 27px 0 0;
}

.main__left {
  margin-left: -65px;
}

.main__right {
  margin-top: 0 !important;
  margin-right: -65px;
}

.main__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  margin: 0 0 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
}

.main__counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 171px;
  height: 51px;
  margin: 0 0 30px;
  border: 1.68434px solid #5cfc3c;
  -webkit-border-radius: 40.4241px;
          border-radius: 40.4241px;
}

.main__counter--btn {
  margin: 0 6px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #f2f2f2;
  text-transform: uppercase;
}

.main__statistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px;
}

.main__statistics--items {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.main__statistics--name {
  text-transform: capitalize;
}

.main__statistics--value {
  font-weight: bold !important;
}

.main__btn {
  width: 258px;
  height: 55.45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 21.9755px;
  line-height: 33px;
  color: #333333;
  background: #5cfc3c;
  border: 1.37347px solid rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Mandinor";
  src: url("../assets/fonts/Mandinor Italian FY Regular.woff");
  src: url("../assets/fonts/Mandinor Italian FY Regular.woff2");
  src: url("../assets/fonts/Mandinor.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff");
  src: url("../assets/fonts/Inter-Regular.woff2");
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Korona One";
  src: url("../assets/fonts/krona-one-v9-latin-regular.woff");
  src: url("../assets/fonts/krona-one-v9-latin-regular.woff2");
  src: url("../assets/fonts/KronaOne-Regular.ttf");
}
/*# sourceMappingURL=style.css.map */